html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
img {
	max-width: 100%;
	height: auto;
}
body {
	width: 1440px;
	height: 1024px;
	background-color: #222831;
}
.page-name__text {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 10px;
	position: absolute;
	width: 301px;
	height: 132px;
	left: 0px;
	top: 0px;
	padding: 48px 96px;
	color: #eeeeee;
	font-family: oswald;
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
}
.navigation-bar {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 48px 96px;
	gap: 48px;
	position: absolute;
	width: 502px;
	height: 123px;
	left: 938px;
	top: 0px;
}
.navigation-bar__home,
.navigation-bar__aboutme,
.navigation-bar__contact {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #eeeeee;
	text-decoration: none;
}
.line__x {
	position: absolute;
	width: 1440px;
	height: 0px;
	left: 0px;
	top: 132px;
	border: 0.5px solid;
	border-color: rgba(238, 238, 238, 0.1);
}
.line__y {
	position: absolute;
	width: 1024px;
	height: 0px;
	left: 0px;
	top: 512px;
	border: 0.5px solid rgba(238, 238, 238, 0.1);
	transform: rotate(90deg);
}

.left-content__man {
	background-image: url(images/man.png);
	position: absolute;
	width: 400px;
	height: 472.65px;
	left: 814px;
	top: 478px;
}
.left-content__picture {
	background-image: url(images/vectorleftlogo.png);
	position: absolute;
	width: 514px;
	height: 514px;
	left: 847px;
	top: 295px;
}

.vector-center__image {
	background-image: url(images/vectorcenter.png);
	flex: none;
	position: absolute;
	width: 89.96px;
	height: 221.69px;
	left: 100.46px;
	top: 385px;
	border: 5px solid #222831;
	/*transform: matrix(0.5, 0.5, 0.5, 0.5, 0.5, 0.5);*/
	opacity: 1;
}
.center {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 48px;
	position: absolute;
	width: 586px;
	height: 287px;
	left: 200px;
	top: 334px;
}
.center-a2 {
	width: 586px;
	flex: none;
	height: 192px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	line-height: 96px;
	color: #eeeeee;
	order: 0;
	flex-grow: 0;
	opacity: 1;
}
.center-a3 {
	width: 586px;
	height: 192px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 96px;
	line-height: 96px;
	color: rgba(0, 173, 181, 1);
	flex: none;
	order: 0;
	flex-grow: 0;
}
.center-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 24px;
	width: 383px;
	height: 47px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.center-content-button-hereme {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px 32px;
	gap: 10px;
	width: 136px;
	height: 47px;
	background: #00adb5;
	border-radius: 24px;
	flex: none;
	order: 0;
	flex-grow: 0;
	border: none;
}
.center-content-button-hereme__text {
	width: 72px;
	height: 27px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #eeeeee;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	flex: none;
	order: 0;
	flex-grow: 0;
}
.center-content-button-download {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 32px;
	gap: 10px;
	width: 223px;
	height: 47px;
	background: rgba(57, 62, 70, 0.75);
	backdrop-filter: blur(2px);
	border-radius: 24px;
	flex: none;
	order: 1;
	flex-grow: 0;
	border: none;
}

.center-content-button-download__text {
	width: 125px;
	height: 27px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #eeeeee;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	flex: none;
	order: 0;
	flex-grow: 0;
}

.bottom-content {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 464px;
	top: 864px;
	border: none;
	background: rgba(57, 62, 70, 0.75);
	backdrop-filter: blur(4px);
}

.botton-button__picture {
	background-image: url(images/arrow.png);
	position: absolute;
	width: 21px;
	height: 36px;
	left: 38px;
	top: 30px;
}
.download__logo {
	background-image: url(images/download.png);
	width: 24px;
	height: 24px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
